---
- name: resolve platform specific vars
  include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml'
        - '{{ ansible_distribution }}.yml'
        - '{{ ansible_os_family }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'

- name: install OS pkgs
  become: yes
  become_user: root
  package:
    name: '{{ trust_ca_dep_pkgs | default([]) }}'
    state: present

- when: trust_ca_configs is defined
  block:
    - name: installing CA certificates...
      with_items: '{{ trust_ca_configs }}'
      include_role:
        name: andrewrothstein.tls
      vars:
        tls_src: '{{ item.pki_dir }}'
        tls_dest: '{{ trust_ca_cacert_dir }}'
        tls_kinds:
          - ca
        tls_dest_file_names:
          ca: '{{ item.name }}.crt'
    - name: 'updating trust hashes with: {{ trust_ca_update_trust_cmd }}...'
      become: yes
      become_user: root
      command: '{{ trust_ca_update_trust_cmd }}'
